@model ComicBookgallery.Models.ComicBook[]
@{
    ViewBag.Title = "Comic books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@comicBook.Displaytext</h4>
            <img src="/Images/@comicBook.CoverImagefileName"
                 alt="@comicBook.Displaytext"
                 class="img-responsive" />
        </div>
    }
</div>