@model ComicBookgallery.Models.ComicBook[]
@{
    ViewBag.Title = "Comic books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comicBook.Displaytext,"Detail",
               new { id= comicBook.Id})</h4>
            <a href="@Url.Action("Detail", new { id= comicBook.Id})">
                <img src="/Images/@comicBook.CoverImagefileName"
                     alt="@comicBook.Displaytext"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>